<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Google Map</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Maps</a>
                        </li>
                        <li class="breadcrumb-item active">Google Map</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Basic Example -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Google Map</strong> Marker
                        </h2>

                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a (click)="area()">สร้าง Area</a>
                                    </li>

                                    <li>
                                        <a (click)="delete()">ลบ</a>
                                    </li>

                                    <!-- <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li> -->
                                </ul>
                            </li>
                        </ul>

                    </div>
                    <div class="body">


                        <div class="row" style="padding-top: 10px;">
                            <div class="col-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>ชื่อสถานที่</mat-label>
                                    <span matPrefix>
                                        <mat-icon class="mr-2">place</mat-icon>
                                    </span>
                                    <input [formControl]="name"  matInput placeholder="" />
                                </mat-form-field>
                            </div>

                            <div class="col-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>ตำแหน่ง</mat-label>
                                    <span matPrefix>
                                        <mat-icon class="mr-2">filter_center_focus</mat-icon>
                                    </span>
                                    <input [formControl]="position" matInput placeholder="" />
                                </mat-form-field>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-3">
                                <mat-form-field class="example-full-width mb-3" appearance="fill">
                                    <mat-label style="font-family: Prompt;">Device</mat-label>
                                    <span matPrefix>
                                        <mat-icon class="mr-2">settings_ethernet</mat-icon>
                                    </span>

                                    <mat-select style="font-family: Prompt;" [formControl]="uidText">
                                        
                                        <mat-option *ngFor="let item of uid; let i = index" [value]="item.uid">

                                            {{item.uid}} {{item.note}} 
                                        </mat-option>

                                    </mat-select>

                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-7">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Line Token</mat-label>
                                    <span matPrefix>
                                        <mat-icon class="mr-2">info</mat-icon>
                                    </span>
                                    <input [formControl]="line" matInput placeholder="" />
                                </mat-form-field>
                            </div>

                          

                        </div>


                        <div class="row" style="padding-bottom: 10px;">

                            <div class="col-3">

                                <button (click)="save()" class="btn btn-info">บันทึก</button>
                            </div>


                            </div>


                        <agm-map style="height: 700px" [latitude]="lat" [longitude]="lng" [zoom]="zoom"
                            [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
                            <agm-marker *ngFor="let m of markers; let i = index"
                                (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                                [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)" [iconUrl]="m.url">
                                <!-- <agm-info-window>
                                    <strong>{{m.label}}</strong>
                                </agm-info-window> -->
                            </agm-marker>

                            <agm-polygon [paths]="areaPoly" fillColor="#7CA0C0">

                            </agm-polygon>


                        </agm-map>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Example -->
    </div>
</section>