<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">UID</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">UID</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">



                <div style="padding-top: 20px; padding-left: 20px; padding-bottom: 10px;" class="row">
                   
                    <div class="col-3">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>สร้าง UID</mat-label>
                            <span matPrefix>
                                <mat-icon class="mr-2">info</mat-icon>
                            </span>
                            <input (click)="getUID()" matInput placeholder="" [formControl]="uid" />
                        </mat-form-field>
                        <button (click)="createUID()" class="btn btn-info">บันทึก</button>

                    </div>

                    <div class="col-3">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>หมายเหตุ</mat-label>
                            <span matPrefix>
                                <mat-icon class="mr-2">assignment</mat-icon>
                            </span>
                            <input matInput placeholder="" [formControl]="note" />
                        </mat-form-field>
                       

                    </div>


                </div>


                <div class="row clearfix">

                    



                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="ngxTableHeader">
                                            <ul class="header-buttons-left ml-0">

                                                <li class="dropdown m-l-20">
                                                    <label for="search-input"><i
                                                            class="material-icons search-icon">search</i></label>
                                                    <input placeholder="Search" type="text"
                                                        class="browser-default search-field"
                                                        (keyup)='filterDatatable($event)' aria-label="Search box">
                                                </li>
                                            </ul>
                                        </div>

                                        <ngx-datatable #table class="material" [rows]="data" [columns]="columns"
                                            [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                                            [footerHeight]="50" [rowHeight]="'60'" [limit]="10">


                                            <ngx-datatable-column prop="uid" name="UID" [width]="200">
                                            </ngx-datatable-column>
                                            <ngx-datatable-column prop="note" name="หมายเหตุ" [width]="100">
                                            </ngx-datatable-column>

                                            <!-- <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
                                                </ngx-datatable-column> -->
                                            <!-- action buttons -->
                                            <!-- <ngx-datatable-column name="Actions" sortable="false" [width]="120">
                                                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                                    ngx-datatable-cell-template>
                                                    <span>
                                                        <button class="btn tblActnBtn h-auto" data-toggle="modal"
                                                            data-target="#editModal" (click)='editRow(row, rowIndex)'>
                                                            <i class="material-icons">mode_edit</i>
                                                        </button>
                                                        <button class="btn tblActnBtn h-auto" (click)='deleteRow(row)'>
                                                            <i class="material-icons">delete</i>
                                                        </button>
                                                    </span>
                                                </ng-template>
                                            </ngx-datatable-column> -->
                                        </ngx-datatable>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>