<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Graph</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">Graph</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
            <div class="card">



                <div class="row" style="text-align: center; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
                    <div class="col-1">
                        <p>ค้นหา</p>

                    </div>
                    <div class="col-2">
                        
                        <input [formControl] = "dt" id="date" name="date" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>

                    <div class="col-3">
                        <button (click)="dateSelect()" class="btn btn-info">ค้นหาแบบวัน</button>
                       
                    </div>
                    <div class="col-3">
                      
                        <button (click)="monthSelect()"  class="btn btn-success">ค้นหาแบบเดือน</button>
                       
                    </div>
                    <div class="col-3">
                      
                        <button (click)="yearSelect()"  class="btn btn-danger">ค้นหาแบบปี</button>
                    </div>

                
                </div>


                <div class="row" style="text-align: center; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
                    <div class="col-1">

                        <p>ค้นหาแบบช่วง</p>
                        

                    </div>

                    <div class="col-3">
                        <label style="padding-right: 10px;" for="date">เริ่มต้น</label>
                      
                        <input [formControl] = "dtStart"  matInput [matDatepicker]="pickerStart">
                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                        <mat-datepicker #pickerStart></mat-datepicker>
                    </div>
                    <div>
                        <input type="time" [formControl] = "tStart" name="" id="">
                    </div>

                    
                
                
                </div>


                <div class="row" style="text-align: center; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
                    <div class="col-1">

                       
                        

                    </div>

                    <div class="col-3">
                        <label style="padding-right: 10px;" for="date">สิ้นสุด</label>
                      
                        <input [formControl] = "dtEnd"  matInput [matDatepicker]="pickerEnd">
                        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                        <mat-datepicker #pickerEnd></mat-datepicker>
                    </div>
                    <div>
                        <input type="time" [formControl] = "tEnd" name="" id="">
                    </div>

                    <div class="col-3">
                        <button  (click)="selectAvd()"class="btn btn-success">ค้นหา</button>
                        </div>


                    
                
                
                </div>

                <div class="row">

                    <div class="col-2">

                        <button (click)="export()"class="btn btn-info">Export CSV</button>
                    </div>

                </div>




                <div class="row" style="padding: 20px; margin: 20px;" >

                    <div class="col-6" style="text-align: center; margin:0 auto;">

                        <div id="chartContainerPM25" style="height: 370px; width: 100%;"></div>

                    </div>

                    <div class="col-6" style="text-align: center; margin:0 auto;">

                        <div id="chartContainerPM10" style="height: 370px; width: 100%;"></div>

                    </div>
                </div>


                <div class="row"  style="padding: 20px; margin: 20px;"  >

                    <div class="col-6" style="text-align: center; margin:0 auto;">

                        <div id="chartContainerNO2" style="height: 370px; width: 100%;"></div>

                    </div>

                    <div class="col-6" style="text-align: center; margin:0 auto;">

                        <div id="chartContainerSO2" style="height: 370px; width: 100%;"></div>

                    </div>


                </div>

                <div class="row"  style="padding: 20px; margin: 20px;"  >

                    <div class="col-6" style="text-align: center; margin:0 auto;">

                        <div id="chartContainerCO" style="height: 370px; width: 100%;"></div>

                    </div>

                    <div class="col-6" style="text-align: center; margin:0 auto;">

                        <div id="chartContainerO3" style="height: 370px; width: 100%;"></div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>