<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Dashboard</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Widgets -->
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="card infobox-5">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left card-icon">
                                <i class="material-icons col-green">face</i>
                                <!-- <i class="material-icons col-green">face</i> -->
                            </div>
                            <div class="float-right">
                                <p class="text-right font-18">ชุมชนหัวป้อม</p>
                                <div class="col-green">
                                    <h3 class="text-right mb-0">AQI : 50</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="card infobox-5">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left card-icon">
                                <i class="material-icons col-green">face</i>
                            </div>
                            <div class="float-right">
                                <p class="text-right font-18">ชุมชนหัวป้อม</p>
                                <div class="col-green">
                                    <h3 class="text-right mb-0">AQI : 50</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="card infobox-5">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left card-icon">
                                <i class="material-icons col-green">face</i>
                            </div>
                            <div class="float-right">
                                <p class="text-right font-18">ชุมชนหัวป้อม</p>
                                <div class="col-green">
                                    <h3 class="text-right mb-0">AQI : 50</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="card infobox-5">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left card-icon">
                                <i class="material-icons col-green">face</i>
                            </div>
                            <div class="float-right">
                                <p class="text-right font-18">ชุมชนหัวป้อม</p>
                                <div class="col-green">
                                    <h3 class="text-right mb-0">AQI : 50</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="card infobox-5">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left card-icon">
                                <i class="material-icons col-green">face</i>
                            </div>
                            <div class="float-right">
                                <p class="text-right font-18">ชุมชนหัวป้อม</p>
                                <div class="col-green">
                                    <h3 class="text-right mb-0">AQI : 50</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- #END# Widgets -->
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Hospital Survay</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <!-- Canvas for Chart.js -->
                        <canvas baseChart [chartType]="'line'" [datasets]="areaChartData" [labels]="areaChartLabels"
                            [options]="areaChartOptions" [legend]="true">
                        </canvas>
                        <div class="text-center p-t-20">
                            <div class="chart-note">
                                <span class="dot dot-product"></span>
                                <span>New Patients</span>
                            </div>
                            <div class="chart-note mr-0">
                                <span class="dot dot-service"></span>
                                <span>Old Patients</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Recent Report</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                            [chartType]="barChartType"></canvas>
                        <div class="text-center p-t-20">
                            <div class="chart-note">
                                <span class="dot dot-product1"></span>
                                <span>New Patients</span>
                            </div>
                            <div class="chart-note mr-0">
                                <span class="dot dot-service1"></span>
                                <span>Old Patients</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="card">
                    <div class="header">
                        <h2>
                            Booked Appointment</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="tableBody">
                        <div class="table-responsive">
                            <table class="table table-hover ">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Patient Name</th>
                                        <th>Assigned Doctor</th>
                                        <th>Date</th>
                                        <th>Diseases</th>
                                        <th>Actions </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user1.jpg" alt="">
                                        </td>
                                        <td>John Doe</td>
                                        <td><a href="mailto:test@gmail.com"> Dr.Jacob Ryan </a></td>
                                        <td>12/05/2016 </td>
                                        <td>
                                            <div class="badge col-red">Fever</div>
                                        </td>
                                        <td>
                                            <button mat-icon-button>
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button>
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user2.jpg" alt="">
                                        </td>
                                        <td>Sarah Smith</td>
                                        <td><a href="mailto:test@gmail.com"> Dr.Rajesh </a></td>
                                        <td>12/05/2016 </td>
                                        <td>
                                            <div class="badge col-green">Cholera</div>
                                        </td>
                                        <td>
                                            <button mat-icon-button>
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button>
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user3.jpg" alt="">
                                        </td>
                                        <td>Airi Satou</td>
                                        <td><a href="mailto:test@gmail.com"> Dr.Jay Soni </a></td>
                                        <td>12/05/2016 </td>
                                        <td>
                                            <div class="badge col-purple">Jaundice</div>
                                        </td>
                                        <td>
                                            <button mat-icon-button>
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button>
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user4.jpg" alt="">
                                        </td>
                                        <td>Angelica Ramos</td>
                                        <td><a href="mailto:test@gmail.com"> Dr.John Deo </a></td>
                                        <td>12/05/2016 </td>
                                        <td>
                                            <div class="badge col-brown">Typhod</div>
                                        </td>
                                        <td>
                                            <button mat-icon-button>
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button>
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user5.jpg" alt="">
                                        </td>
                                        <td>Ashton Cox</td>
                                        <td><a href="mailto:test@gmail.com"> Dr.Megha Trivedi </a></td>
                                        <td>12/05/2016 </td>
                                        <td>
                                            <div class="badge col-orange">Maleria</div>
                                        </td>
                                        <td>
                                            <button mat-icon-button>
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button>
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user8.jpg" alt="">
                                        </td>
                                        <td>Cara Stevens</td>
                                        <td><a href="mailto:test@gmail.com"> Dr.Sarah Smith </a></td>
                                        <td>12/05/2016 </td>
                                        <td>
                                            <div class="badge col-cyan">Infection</div>
                                        </td>
                                        <td>
                                            <button mat-icon-button>
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button>
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="header">
                        <h2>
                            Doctors List</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="tableBody">
                        <div class="table-responsive">
                            <table class="table table-hover ">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Doctor Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user5.jpg" alt="">
                                        </td>
                                        <td>
                                            <div class="media-title"><a href="mailto:test@gmail.com"> Dr.Jay Soni
                                                </a></div>
                                            <div class="text-job font-11">(MBBS,MD)</div>
                                        </td>
                                        <td>
                                            <div class="badge col-green">Available</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user6.jpg" alt="">
                                        </td>
                                        <td>
                                            <div class="media-title"><a href="mailto:test@gmail.com"> Dr.Sarah Smith
                                                </a></div>
                                            <div class="text-job font-11">(BDS,MDS)</div>
                                        </td>
                                        <td>
                                            <div class="badge col-red">Absend</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user3.jpg" alt="">
                                        </td>
                                        <td>
                                            <div class="media-title"><a href="mailto:test@gmail.com">Dr.Megha Trivedi
                                                </a></div>
                                            <div class="text-job font-11">(BHMS)</div>
                                        </td>
                                        <td>
                                            <div class="badge col-green">Available</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user2.jpg" alt="">
                                        </td>
                                        <td>
                                            <div class="media-title"><a href="mailto:test@gmail.com"> Dr.John Deo
                                                </a></div>
                                            <div class="text-job font-11">(MBBS,MS)</div>
                                        </td>
                                        <td>
                                            <div class="badge col-green">Available</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user1.jpg" alt="">
                                        </td>
                                        <td>
                                            <div class="media-title"><a href="mailto:test@gmail.com"> Dr.Jacob Ryan
                                                </a></div>
                                            <div class="text-job font-11">(MBBS,MD)</div>
                                        </td>
                                        <td>
                                            <div class="badge col-red">Absend</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user8.jpg" alt="">
                                        </td>
                                        <td>
                                            <div class="media-title"><a href="mailto:test@gmail.com"> Dr.Jay Soni
                                                </a></div>
                                            <div class="text-job font-11">(MBBS)</div>
                                        </td>
                                        <td>
                                            <div class="badge col-green">Available</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Operations</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="tableBody">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Parient Name</th>
                                        <th>Doctors Team</th>
                                        <th>Date Of Operation</th>
                                        <th>Report</th>
                                        <th>Chart</th>
                                        <th>Diseases</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user8.jpg" alt="">
                                        </td>
                                        <td>John Deo</td>
                                        <td class="text-truncate">
                                            <ul class="list-unstyled order-list">
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user1.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user2.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user3.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><span class="badge">+4</span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>12-08-2019</td>
                                        <td>
                                            <i class="far fa-file-pdf tbl-pdf"></i>
                                        </td>
                                        <td>
                                            <div id="sparkline"></div>
                                        </td>
                                        <td>Cancer</td>
                                        <td>
                                            <button mat-icon-button class="btn-tbl-edit">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button class="btn-tbl-delete">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user5.jpg" alt="">
                                        </td>
                                        <td>Jens Brincker</td>
                                        <td class="text-truncate">
                                            <ul class="list-unstyled order-list">
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user7.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user2.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><span class="badge">+3</span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>14-08-2019</td>
                                        <td>
                                            <i class="far fa-file-pdf tbl-pdf"></i>
                                        </td>
                                        <td>
                                            <div id="sparkline3"></div>
                                        </td>
                                        <td>Fracture</td>
                                        <td>
                                            <button mat-icon-button class="btn-tbl-edit">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button class="btn-tbl-delete">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user3.jpg" alt="">
                                        </td>
                                        <td>Mark Hay</td>
                                        <td class="text-truncate">
                                            <ul class="list-unstyled order-list">
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user2.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user1.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user8.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><span class="badge">+2</span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>18-08-2019</td>
                                        <td>
                                            <i class="far fa-file-pdf tbl-pdf"></i>
                                        </td>
                                        <td>
                                            <div id="sparkline4"></div>
                                        </td>
                                        <td>Cataract surgery</td>
                                        <td>
                                            <button mat-icon-button class="btn-tbl-edit">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button class="btn-tbl-delete">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user6.jpg" alt="">
                                        </td>
                                        <td>Mark Hay</td>
                                        <td class="text-truncate">
                                            <ul class="list-unstyled order-list">
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user5.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user3.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user9.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><span class="badge">+4</span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>20-08-2019</td>
                                        <td>
                                            <i class="far fa-file-pdf tbl-pdf"></i>
                                        </td>
                                        <td>
                                            <div id="sparkline5"></div>
                                        </td>
                                        <td>Cholecystectomy</td>
                                        <td>
                                            <button mat-icon-button class="btn-tbl-edit">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button class="btn-tbl-delete">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user1.jpg" alt="">
                                        </td>
                                        <td>Mark Hay</td>
                                        <td class="text-truncate">
                                            <ul class="list-unstyled order-list">
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user2.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user4.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><span class="badge">+3</span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>22-08-2019</td>
                                        <td>
                                            <i class="far fa-file-pdf tbl-pdf"></i>
                                        </td>
                                        <td>
                                            <div id="sparkline6"></div>
                                        </td>
                                        <td>Hysterectomy</td>
                                        <td>
                                            <button mat-icon-button class="btn-tbl-edit">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button class="btn-tbl-delete">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-img">
                                            <img src="assets/images/user/user2.jpg" alt="">
                                        </td>
                                        <td>Mark Hay</td>
                                        <td class="text-truncate">
                                            <ul class="list-unstyled order-list">
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user6.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user9.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><img class="rounded-circle"
                                                        src="assets/images/user/user4.jpg" alt="user">
                                                </li>
                                                <li class="avatar avatar-sm"><span class="badge">+2</span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>28-08-2019</td>
                                        <td>
                                            <i class="far fa-file-pdf tbl-pdf"></i>
                                        </td>
                                        <td>
                                            <div id="sparkline2"></div>
                                        </td>
                                        <td>back pain surgery</td>
                                        <td>
                                            <button mat-icon-button class="btn-tbl-edit">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button class="btn-tbl-delete">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>