<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Machine</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">Machine</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">


                <div class="row clearfix">

                    



                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="ngxTableHeader">
                                            <ul class="header-buttons-left ml-0">

                                                <li class="dropdown m-l-20">
                                                    <label for="search-input"><i
                                                            class="material-icons search-icon">search</i></label>
                                                    <input placeholder="Search" type="text"
                                                        class="browser-default search-field"
                                                        (keyup)='filterDatatable($event)' aria-label="Search box">
                                                </li>
                                            </ul>
                                        </div>

                                        <ngx-datatable #table class="material" [rows]="data" [columns]="columns"
                                            [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                                            [footerHeight]="50" [rowHeight]="'60'" [limit]="10">


                                            <ngx-datatable-column prop="name" name="ชื่อ" [width]="100">
                                            </ngx-datatable-column>
                                            <ngx-datatable-column prop="uid" name="UID" [width]="30">
                                            </ngx-datatable-column>

                                            <!-- <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
                                                </ngx-datatable-column> -->
                                            <!-- action buttons -->
                                            <ngx-datatable-column name="Actions" sortable="false" [width]="40">
                                                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                                    ngx-datatable-cell-template>
                                                    <span>
                                            
                                                        <button class="btn tblActnBtn h-auto" (click)='deleteRow(row)'>
                                                            <i class="material-icons">delete</i>
                                                        </button>
                                                    </span>
                                                </ng-template>
                                            </ngx-datatable-column>




                                            <ngx-datatable-column prop="noti" name="การแจ้งเตือน" sortable="false" [width]="120">
                                                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                                    ngx-datatable-cell-template>
                                                    <div class="row">
                                            

                                                        <p style="padding-right: 20px;">ปัจจุบัน : {{value}} </p>

                                                        <button (click)="  updateNotiType(row)" class="btn tblActnBtn btn-info">
                                                            เปลี่ยน
                                                        </button>
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-column>





                                        </ngx-datatable>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>