<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Google Map</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Maps</a>
                        </li>
                        <li class="breadcrumb-item active">Google Map</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Basic Example -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Google Map</strong> Marker
                        </h2>

                    </div>
                    <div class="body">
                        <agm-map style="height: 500px" [latitude]="lat" [longitude]="lng" [zoom]="14" [disableDefaultUI]="false"
                            [zoomControl]="false">
                            <agm-marker *ngFor="let m of markers; let i = index"
                                (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                                [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                                <agm-info-window>
                                    <strong (click)="select(m)">{{m.label}}</strong>
                                </agm-info-window>
                            </agm-marker>
                        </agm-map>
                    </div>
                    <img height="50px" width="500px" src="/assets/aqi.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- #END# Basic Example -->
    </div>
</section>